.con {
  width: 100%;
  .heroSection {
    background-image: url("/public/hero.jpg");
    height: 95vh;
    z-index: -1;
    background-repeat: round;
    background-size: cover;
    .header {
      .container {
        width: 80%;
        margin: 0 auto;
        img {
          width: 120px;
          padding: 20px;
        }
      }
    }
    .heroText {
      color: white;
      font-size: 50px;
      font-weight: 900;
      padding: 20px;
      margin-top: 40px;
    }
    .heroTextAndBtn {
      margin-top: 40px;

      color: white;
      font-size: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .v-btn {
        width: fit-content;
        transition: all 0.3s ease;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .heroText {
    font-size: 30px !important;
  }
}
@media only screen and (max-width: 600px) {
  .con {
    width: 100%;
    .heroSection {
      background-image: url("/public/hero.jpg");
      height: 95vh;
      z-index: -1;
      background-repeat: round;
      .header {
        .container {
          width: 90%;
          img {
            width: 120px;
            padding: 20px;
          }
        }

      }
      .heroText {
        color: white;
        font-size: 22px !important;
        font-weight: 900;
        padding: 20px;
        margin-top: 20px;
      }
      .heroTextAndBtn {
        margin-top: 20px;
        color: white;
        font-size: 14px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .v-btn {
          width: fit-content;
          transition: all 0.3s ease;
        }
        .v-btn__content {

          transition: all 0.3s ease;
        }
      }
    }
  }
}
